.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.981445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.718000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.973633;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:-1.740000px;}
.ls7{letter-spacing:-0.840000px;}
.ls4{letter-spacing:-0.616000px;}
.ls5{letter-spacing:-0.352000px;}
.ls3{letter-spacing:-0.264000px;}
.ls0{letter-spacing:0.000000px;}
.ls6{letter-spacing:9.600000px;}
.ls1{letter-spacing:29.760000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws1{word-spacing:-29.760000px;}
.ws11{word-spacing:-9.600000px;}
.ws4{word-spacing:-2.024000px;}
.ws8{word-spacing:-1.584000px;}
.ws13{word-spacing:-1.140000px;}
.ws0{word-spacing:0.000000px;}
.ws6{word-spacing:0.264000px;}
.ws12{word-spacing:0.840000px;}
.ws3{word-spacing:1.508000px;}
.ws2{word-spacing:1.566000px;}
.wsb{word-spacing:1.672000px;}
.ws9{word-spacing:1.848000px;}
.wse{word-spacing:3.168000px;}
.wsd{word-spacing:3.256000px;}
.wsf{word-spacing:5.456000px;}
.ws10{word-spacing:5.676000px;}
.ws5{word-spacing:5.764000px;}
.wsa{word-spacing:8.140000px;}
.wsc{word-spacing:8.316000px;}
.ws7{word-spacing:12.716000px;}
._4{margin-left:-7.622200px;}
._1{margin-left:-3.397507px;}
._2{margin-left:-2.117000px;}
._0{margin-left:-1.041600px;}
._3{width:1.059200px;}
._5{width:880.565000px;}
.fc1{color:rgb(160,127,46);}
.fc0{color:rgb(35,31,32);}
.fs5{font-size:40.000000px;}
.fs4{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.fs3{font-size:58.000000px;}
.fs6{font-size:60.000000px;}
.fs1{font-size:74.678400px;}
.fs2{font-size:336.386800px;}
.y0{bottom:0.000000px;}
.y1b{bottom:39.658200px;}
.y35{bottom:39.658700px;}
.y1a{bottom:45.574700px;}
.y19{bottom:73.813500px;}
.y18{bottom:87.013500px;}
.y6{bottom:87.572300px;}
.y17{bottom:100.213500px;}
.y16{bottom:113.413500px;}
.y15{bottom:126.613500px;}
.y5{bottom:129.569800px;}
.y14{bottom:153.013500px;}
.y37{bottom:162.625500px;}
.y13{bottom:166.213500px;}
.y4{bottom:171.567900px;}
.y12{bottom:179.413500px;}
.y11{bottom:192.613500px;}
.y10{bottom:205.813500px;}
.y3{bottom:213.564900px;}
.yf{bottom:219.013700px;}
.y1c{bottom:242.778800px;}
.ye{bottom:249.613900px;}
.y1{bottom:255.562000px;}
.yd{bottom:262.813900px;}
.yc{bottom:276.013900px;}
.y2{bottom:288.466000px;}
.yb{bottom:289.213900px;}
.ya{bottom:322.591200px;}
.y9{bottom:339.991200px;}
.y27{bottom:413.788900px;}
.y22{bottom:413.800900px;}
.y2c{bottom:413.812900px;}
.y39{bottom:428.414600px;}
.y26{bottom:433.792900px;}
.y21{bottom:433.804900px;}
.y2b{bottom:433.816900px;}
.y2d{bottom:452.299300px;}
.y25{bottom:453.796900px;}
.y20{bottom:453.808900px;}
.y24{bottom:473.800900px;}
.y1f{bottom:473.812900px;}
.y2a{bottom:485.812900px;}
.y23{bottom:493.804900px;}
.y1e{bottom:493.816900px;}
.y29{bottom:505.816900px;}
.y1d{bottom:524.230000px;}
.y28{bottom:524.299300px;}
.y2e{bottom:556.117700px;}
.y36{bottom:556.268100px;}
.y34{bottom:609.901400px;}
.y33{bottom:627.901400px;}
.y32{bottom:663.901400px;}
.y8{bottom:678.770500px;}
.y31{bottom:681.901400px;}
.y38{bottom:694.299300px;}
.y30{bottom:699.901400px;}
.y7{bottom:701.941900px;}
.y3a{bottom:730.738800px;}
.y2f{bottom:730.741700px;}
.h6{height:30.410156px;}
.h5{height:33.451172px;}
.h1{height:36.492188px;}
.h4{height:44.094727px;}
.h7{height:45.615234px;}
.h2{height:56.774545px;}
.h3{height:241.525722px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:30.914500px;}
.x1{left:71.582500px;}
.x3{left:194.000500px;}
.x7{left:197.508000px;}
.x5{left:204.763700px;}
.x8{left:239.512700px;}
.x4{left:274.359400px;}
.x6{left:340.137700px;}
.x9{left:381.275400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:-2.320000pt;}
.ls7{letter-spacing:-1.120000pt;}
.ls4{letter-spacing:-0.821333pt;}
.ls5{letter-spacing:-0.469333pt;}
.ls3{letter-spacing:-0.352000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls6{letter-spacing:12.800000pt;}
.ls1{letter-spacing:39.680000pt;}
.ws1{word-spacing:-39.680000pt;}
.ws11{word-spacing:-12.800000pt;}
.ws4{word-spacing:-2.698667pt;}
.ws8{word-spacing:-2.112000pt;}
.ws13{word-spacing:-1.520000pt;}
.ws0{word-spacing:0.000000pt;}
.ws6{word-spacing:0.352000pt;}
.ws12{word-spacing:1.120000pt;}
.ws3{word-spacing:2.010667pt;}
.ws2{word-spacing:2.088000pt;}
.wsb{word-spacing:2.229333pt;}
.ws9{word-spacing:2.464000pt;}
.wse{word-spacing:4.224000pt;}
.wsd{word-spacing:4.341333pt;}
.wsf{word-spacing:7.274667pt;}
.ws10{word-spacing:7.568000pt;}
.ws5{word-spacing:7.685333pt;}
.wsa{word-spacing:10.853333pt;}
.wsc{word-spacing:11.088000pt;}
.ws7{word-spacing:16.954667pt;}
._4{margin-left:-10.162933pt;}
._1{margin-left:-4.530009pt;}
._2{margin-left:-2.822667pt;}
._0{margin-left:-1.388800pt;}
._3{width:1.412267pt;}
._5{width:1174.086667pt;}
.fs5{font-size:53.333333pt;}
.fs4{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.fs3{font-size:77.333333pt;}
.fs6{font-size:80.000000pt;}
.fs1{font-size:99.571200pt;}
.fs2{font-size:448.515733pt;}
.y0{bottom:0.000000pt;}
.y1b{bottom:52.877600pt;}
.y35{bottom:52.878267pt;}
.y1a{bottom:60.766267pt;}
.y19{bottom:98.418000pt;}
.y18{bottom:116.018000pt;}
.y6{bottom:116.763067pt;}
.y17{bottom:133.618000pt;}
.y16{bottom:151.218000pt;}
.y15{bottom:168.818000pt;}
.y5{bottom:172.759733pt;}
.y14{bottom:204.018000pt;}
.y37{bottom:216.834000pt;}
.y13{bottom:221.618000pt;}
.y4{bottom:228.757200pt;}
.y12{bottom:239.218000pt;}
.y11{bottom:256.818000pt;}
.y10{bottom:274.418000pt;}
.y3{bottom:284.753200pt;}
.yf{bottom:292.018267pt;}
.y1c{bottom:323.705067pt;}
.ye{bottom:332.818533pt;}
.y1{bottom:340.749333pt;}
.yd{bottom:350.418533pt;}
.yc{bottom:368.018533pt;}
.y2{bottom:384.621333pt;}
.yb{bottom:385.618533pt;}
.ya{bottom:430.121600pt;}
.y9{bottom:453.321600pt;}
.y27{bottom:551.718533pt;}
.y22{bottom:551.734533pt;}
.y2c{bottom:551.750533pt;}
.y39{bottom:571.219467pt;}
.y26{bottom:578.390533pt;}
.y21{bottom:578.406533pt;}
.y2b{bottom:578.422533pt;}
.y2d{bottom:603.065733pt;}
.y25{bottom:605.062533pt;}
.y20{bottom:605.078533pt;}
.y24{bottom:631.734533pt;}
.y1f{bottom:631.750533pt;}
.y2a{bottom:647.750533pt;}
.y23{bottom:658.406533pt;}
.y1e{bottom:658.422533pt;}
.y29{bottom:674.422533pt;}
.y1d{bottom:698.973333pt;}
.y28{bottom:699.065733pt;}
.y2e{bottom:741.490267pt;}
.y36{bottom:741.690800pt;}
.y34{bottom:813.201867pt;}
.y33{bottom:837.201867pt;}
.y32{bottom:885.201867pt;}
.y8{bottom:905.027333pt;}
.y31{bottom:909.201867pt;}
.y38{bottom:925.732400pt;}
.y30{bottom:933.201867pt;}
.y7{bottom:935.922533pt;}
.y3a{bottom:974.318400pt;}
.y2f{bottom:974.322267pt;}
.h6{height:40.546875pt;}
.h5{height:44.601562pt;}
.h1{height:48.656250pt;}
.h4{height:58.792969pt;}
.h7{height:60.820312pt;}
.h2{height:75.699394pt;}
.h3{height:322.034297pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:41.219333pt;}
.x1{left:95.443333pt;}
.x3{left:258.667333pt;}
.x7{left:263.344000pt;}
.x5{left:273.018267pt;}
.x8{left:319.350267pt;}
.x4{left:365.812533pt;}
.x6{left:453.516933pt;}
.x9{left:508.367200pt;}
}
